 .filters {
        background-color: #fff;
        height: 70px;
        width: 100%;
        border: 1px solid #dddddd;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
      }
      .filters button {
        font-size: 18px;
        background-color: #ff5a5f;
        color: #ffffff;
        height: 48px;
        width: 20%;
        border: none;
        border-radius: 4px;
        margin: 10px 30px 0 0;
        float: right;
      }
      .filters button:hover {
        opacity: 90%;
        cursor: pointer;
      }

      .wrapper {
        display: flex;
        width: 100%;
      }

      .wrapper h3 {
        margin-block-end: -15px;
      }
      .locations {
        border-right: 1px solid #dddddd;
      }
      .locations,
      .amenities {
        height: 100%;
        width: 25%;
        padding-left: 25px;
      }

      .locations h3,
      .amenities h3 {
        font-weight: 600;
      }
      .locations h4,
      .amenities h4 {
        font-size: 14px;
        font-weight: 400;
      }
      .locations:hover .popover,
      .amenities:hover .popover {
        display: block;
        transition: all 0.3s ease-in-out;
      }
      .popover {
        background-color: #fafafa;
        border: 1px solid #dddddd;
        border-radius: 4px;
        width: 92%;
        margin-left: -25px;
        height: 15em;
        display: none;
        transition: all 0.3s ease-in-out;
        list-style-type: none;
      }
      .popover ul {
        list-style-type: none;
        margin: auto;
      }
      .locations .popover li {
        margin-block-end: -10px;
      }
      .amenities .popover {
        padding-top: 25px;
      }
      .amenities .popover li {
        margin-block-end: 10px;
      }
